body {
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
      font-size: 14px;
      color: #333;
  }

  .bi {
    opacity:0.9;
    color: #333;
  }

  .navbar {
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    position: fixed;
    margin-top:20px;
    margin-bottom: 20px;
    padding-right: 60px;
    padding-left: 80px;
    width: 100%;
  }

  .headerNav {
    position: fixed;
    right: -250px;
    top: 0;
    width: 240px;
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.6);
    -webkit-transition: all .6s;
    transition: all .6s;
    z-index: 20;
  }

  .navItem {
    padding: 0rem 1rem 0;
  }

  .navItem a {
    display: block;
    border-bottom: 1px solid #eee;
    color: #707070;
    padding: 4rem 1rem 1rem;
    width: 100%;
    margin: 0 auto;
  }
  
  .nav {
    margin-top: 30px;
    margin-right: -10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
    display: block;
  }
  
  .nav a{
    color: #333;
    text-decoration:none;
    padding-left: 30px;
    transition: all 0.3s;
  }

  .nav a:hover {
    color: #333;
    transform:translate(15px,0);
  }

  .hamburger_btn {
    width: 55px;
    height: 55px;
    cursor: pointer;
    z-index: 30;
  }
  
  .hamburger_line {
    margin-top:9px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #111;
    -webkit-transition: all .6s;
    transition: all .6s;
  }
  .hamburger_line_1 {
    top: 20px;
  }
  .hamburger_line_2 {
    top: 26px;
  }
  .hamburger_line_3 {
    top: 32px;
  }
  
  .black-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .6s;
    transition: all .6s;
    cursor: pointer;
  }

  .nav-open .headerNav {
    right: 0;
  }
  
  .nav-open .black-bg {
    opacity: .8;
    visibility: visible;
  }
  
  .nav-open .hamburger_line_1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 25px;
  }
  .nav-open .hamburger_line_2 {
    width: 0;
      
  }
  .nav-open .hamburger_line_3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
  }
  
  .icon {
    width: 25px;
    height: 25px;
  }

  .ibm {
    margin-top: 60px;
    text-align: center;
  }

  .mainVisual {
    position: relative;
  }
  
  .mainVisual img{
    width: 100%;
    height: auto;
  }

  .bi-chevron-double-down {
    margin-left: 700px;
    margin-top: 95px;
  }
  
  #container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .main {
    width: 100%;
  }
  
  .title {
    font-family: 'Lato', sans-serif;
    line-height: 1.0;
    font-weight: 100;
    font-size: 55px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
  }
  
  .one {
    margin-top: 80px;
  }
  
  .text {
    text-align: center;
    line-height: 1.7;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 17px;
    color: #333;
    letter-spacing: 0.1em;
  }
  
  .card {
    height: 300px;
  }
  
  .btn-primary {
    background-color: white;
  }
  
  .publication__list {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-around;
    margin-top: 50px;
    padding:0px 0px 0px 0px;
  }
  
  .publication__list li {
    margin-left: 10px;
    margin-bottom: 80px;
    list-style: none;
    text-align: right;
  }
  
  .publication__text {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  
  .detail {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 8px 12px;
    letter-spacing: 0.1em;
    color: #333;
    text-decoration: none;
  }
  
  .detail:hover {
    color:#333;
    opacity: 0.8;
  }

  .awards {
    margin-bottom: 200px;
    margin-top: -80px;
  }

  .awards__detail {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 8px 12px;
    background-color: #eee;
    letter-spacing: 0.1em;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .awards__detail:hover {
    color:#333;
    opacity: 0.8;
  }
  
  
  .contact {
    margin-bottom: 70px;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    font-size: 17px;
    color: #333;
    line-height: 1.9;
    text-align: left;
    letter-spacing: 0.1em;
  }

  .follow {
    margin-bottom: 140px;
    text-align: center;
  }
  
  .follow h3 {
    font-size:17px;
    line-height: 1.0;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-family: 'Lato', sans-serif;
    color: #333;
  }
  
  .toTop {
    text-align: center;
  }
  
  
  .copyright {
    font-size: 15px;
    letter-spacing: 0.15em;
    opacity: 0.7;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  



@media screen and (max-width: 959px) { 
   
    }


@media screen and (max-width: 479px) { 
    
   .navbar {
    padding: 0px 30px;
    }

   .headerNav {
    width: 170px;
   }

   .bi-chevron-double-down {
    margin-left: 50%;
  }

  .workExperience {
    margin-bottom:180px;
  }
    
   .text {
    font-size: 14px;
    margin:0px 30px;
   }

   .text br {
    display: inline;
  }

  .ibm {
    margin-bottom: -20px;
  }

   .three {
    margin-top: 20px;
   }

   .copyright {
    font-size: 10px;
   }

   td {
    font-size: 11px;
   }

   .title {
    font-size: 40px;
   }

   .nav {
    font-size: 16px;
    font-weight:500;
   }

   .navItem a {
    padding: 2rem 0rem 1rem;
   }

   .first {
    margin-top: 20px;
   }

   .nav a{
    color: #333;
    text-decoration:none;
    transition: all 0.3s;
    font-size: 15px;
  }
  
  .nav a:hover {
    color: #333;
    transform:translate(15px,0);
  }

   .awards {
    margin-bottom: 150px;
    text-align: center;
  }

   .award br{
    display: inline;
   }

   .awards__detail {
    margin: 15px 0px 30px 250px;
   }

   .media__detail {
    margin: 10px 0px 35px 260px;
   }

   .nav-link {
    margin-left: -25px;
   }

   .follow h3 {
    font-size:15px;
   }
}